
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Arvo|Cinzel|Do+Hyeon|EB+Garamond|Hanalei+Fill|Josefin+Sans|Knewave|Merienda|Pacifico|Passion+One|Permanent+Marker|Playfair+Display|Poiret+One|Raleway|Ranga|Roboto+Mono|Ruslan+Display|Sacramento|Teko");

.App {
  text-align: center;
  margin: 0 auto;

}
body{
  transition: 2.2s ease-in;
}

h1 {
    color: #2c2c2c;
    letter-spacing: .05em;
    font-family: 'Playfair Display';
    text-shadow:
      3px 3px 0px rgba(0, 0, 0, 0.2);
  }
.header{

  .fa-quote-left{
    margin-right:10px;
    text-shadow:
      3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  h1{
    display:inline-block;
    grid-area:title;
    color:white;
  }
  .fa-quote-right{
      margin-left:10px;
      text-shadow:
        3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  color:white;
  display:inline-block;
  margin: 0 auto;

}
.button {
  border-radius:5px;
  margin-bottom: 20px;
  border: 1px solid white;

}
.quote {
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  padding-top:20px;
}
a:hover {
  cursor: pointer;
  opacity: 0.5;
}
.buttonDiv{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". tweet quote .";
  grid-column-gap: 80px;
}
#tweetQuote{
  width:30px;
  grid-area: tweet;
  background-color: white;
}

#quoteButton{
  width:100px;
  grid-area: quote;
  margin-bottom: 20px;
  padding-top:2px;
}
.fa-twitter{
  padding-top:5px;
  color:#1dcaff;
}
#sect{

  width: 50%;
  margin: 0 auto;
  margin-top:50px;
  border-radius: 5px;
  /*@include randomColor($s-min, $s-max, $l-min, $l-max);*/
  border:1px solid white;
  color:white;

}

@media(max-width: 1000px){
  #sect{
    width: 70%;
  }
  .buttonDiv{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". tweet quote .";
    grid-column-gap: 0px;
  }
  .quote{
    width:80%;
  }
}
.sect-appear {
  transition: 2.2s ease-in;
  opacity: 1;
}
.sect-remove {
  transition: 1s ease-out;
  opacity: 0;
}
